.App {
  height: 500px;
  width: auto;
  margin: auto;
  text-align: center;
}

.App .task-section {
  margin: 1em;
  padding: 1em;
  background-color: rgba(255, 255, 255, 0.80);
  height: 50em;
}

.App .time-section {
  margin: auto;
  margin-top: 2em;
  display: inline-block;
  width: 80%;
}

body {
  overflow: hidden;
  height: 100vh;
  background-color: #bbbbdd;
  background-position: center bottom;
  background-repeat: no-repeat;
  background-image: url("images/el_nath_market.png");
}

@font-face {
  font-family: Roboto;
  src: url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
}
