.App {
  height: 500px;
  width: auto;
  margin: auto;
  text-align: center;
}

.App .main-section {
  margin: 1em;
  padding: 1em;
  background-color: #f6f3f6;
  height: 50em;
}

body {
  height: 100vh;
  overflow: hidden;
  background-color: #bbbbdd;
  background-position: center bottom;
  background-repeat: no-repeat;
  background-image: url("images/el_nath_market.png");
}

@font-face {
  font-family: Roboto;
  src: url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
}
